@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
}

h1 {
  color: hsl(0, 0%, 59%);
  font-size: 40px;
  font-weight: 300;
}

h1 span {
  color: hsl(209, 33%, 12%);
  font-weight: 700;
}

button {
  background: hsl(223, 87%, 63%);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 5px hsl(233, 100%, 88%);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-left: 2rem;
  padding: 10px 60px;
  height: 50px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 9rem;
  position: relative;
  padding: 20px 60px;
}

form small {
  color: hsl(354, 100%, 66%);
  display: none;
  font-style: italic;
  position: relative;
  left: -7.938rem;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

input {
  border: 1px solid hsl(233, 100%, 88%);
  border-radius: 50px;
  color: hsl(0, 0%, 59%);
  font-family: "Libre Franklin", sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 15px 45px;
  width: 425px;
  max-width: 100%;
}

input::placeholder {
  color: hsl(0, 0%, 59%);
}

input.error {
  border-color: hsl(354, 100%, 66%);
}

input.success {
  border-color: #00b16a;
}

input.error::placeholder {
  color: hsl(354, 100%, 66%);
}

.dashboard {
  max-width: 35rem;
  margin: 60px auto;
  width: 100%;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.social li {
  margin: 10px;
}

.social li a {
  border: 1px solid hsl(0, 4%, 95%);
  border-radius: 50%;
  color: hsl(223, 87%, 63%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 30px;
  width: 30px;
  text-decoration: none;
}

.social li a:hover {
  border: 1px solid hsl(0, 12%, 92%);
  background: hsl(223, 87%, 63%);
  border-color: hsl(228, 88%, 68%);
  color: #fff;
}

footer p {
  color: hsl(0, 0%, 59%);
}

@media screen and (max-width: 600px) {
  .form-left {
    flex: 1;
  }

  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  form small {
    margin: 0px 20px;
  }

  button {
    flex: 1;
    margin-left: 0;
    width: 90%;
  }
}
