* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  /* Primary */

--Blue: hsl(223, 87%, 63%);

  /* Secondary */

--Pale-Blue: hsl(223, 100%, 88%);
--Light-Red: hsl(354, 100%, 66%);

  /* Neutral */

--Gray: hsl(0, 0%, 59%);
--Very-Dark-Blue: hsl(209, 33%, 12%);
}

body {
  font-family: "Libre Franklin", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
}

h1 {
  color: var(--Gray);
  font-size: 2.5rem;
  font-weight: 300;
}

h1 span {
  color: var(--Very-Dark-Blue);
  font-weight: 700;
}

button {
  background: var(--Blue);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 5px var(--Pale-Blue);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 2rem;
  padding: 10px 60px;
  height: 50px;
}

form {
  display: flex;
  justify-content: center;
  margin-left: 9rem;
  position: relative;
  padding: 20px 60px;
}

form small {
  color: var(--Light-Red);
  display: none;
  font-style: italic;
  position: relative;
  left: -7.938rem;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

input {
  border: 1px solid var(--Pale-Blue);
  border-radius: 50px;
  color: var(--Gray);
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.875rem;
  margin-bottom: 20px;
  padding: 15px 45px;
  width: 425px;
  max-width: 100%;
}

input::placeholder {
  color: var(--Gray);
}

input.error {
  border-color: var(--Light-Red);
}

input.success {
  border-color: #00b16a;
}

input.error::placeholder {
  color: var(--Light-Red);
}

.dashboard {
  max-width: 35rem;
  margin: 60px auto;
  width: 100%;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.social li {
  margin: 10px;
}

.social li a{
  border: 1px solid hsl(0, 4%, 95%);
  border-radius: 50%;
  color: var(--Blue);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 30px;
  width: 30px;
  text-decoration: none;
}

.social li a:hover {
  border: 1px solid hsl(0, 12%, 92%);
  background: var(--Blue);
  border-color: hsl(228, 88%, 68%);
  color: #fff;
}

footer p {
  color: var(--Gray);
}

@media (max-width: 600px) {
  .form-left {
    flex: 1;
  }

  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  form small {
    margin: 0px 20px;
  }

  button {
    flex: 1;
    margin-left: 0;
    width: 90%;
  }
}
